body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 100px 0;
  padding: 0;
}

.main {
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  padding: 0 40px;
}

.main div {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin: 0 10px;
}

.main .paragraph {
  text-align: left;
}
